<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <!--  Nosso CSS -->
    <link rel="stylesheet" href="./static/css/user_password_recovery/_styles.css">
</head>

<div class="pre-loader" id="pre-loader" >
    <div  class="pre-loader_gif" id="pre-loader__gif"></div>
</div>

<body>

<div class="plotting-zone">

    <div class="plotting-zone__form-zone">
        <form class="form-zone__form">
            <h2 class="form__title" id="form__title">Qual seu usuário?</h2>
            <div class="form__input-zone">
                <input type="text" class="input-zone__input" id="input-zone__input-user-id">
            </div>
            <div class="form__input-zone">
                <input type="text" class="input-zone__input" id="input-zone__input-user-name"
                       placeholder="Digite seu usuario">
            </div>
            <div class="form__input-zone">
                <input type="number" class="input-zone__input" id="input-zone__input-user-token"
                       placeholder="Digite seu token">
            </div>
            <div class="form__input-zone">
                <input type="password" class="input-zone__input" id="input-zone__input-user-password"
                       placeholder="Password">
            </div>
            <div class="form__input-zone">
                <input type="password" class="input-zone__input" id="input-zone__input-user-password-confirmation"
                       placeholder="Confirme o password">
            </div>
            <input id="form__button" type="button" class="form__button" value="Próximo">
            <input id="form__button-cancel" type="button" class="form__button" value="Cancelar">
        </form>
    </div>

    <div class="plotting-zone__figure-zone">
        <img src="./static/images/user_password_recovery/undraw_user.svg" class="figure-zone__image"
             id="figure-zone__image">
    </div>

</div>

</body>
    <script type="module" src="static/js/user_password_recovery/button-event.js"></script>
    <script type="module" src="static/js/user_password_recovery/button-cancel-event.js"></script>
    <script type="text/javascript" src="static/js/user_password_recovery/reload-on-back-foward.js"></script>
    <script type="text/javascript" src="static/js/user_password_recovery/remove-autocomplete.js"></script>
</html>