.panel-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
}

@media only screen and (max-width:800px) {
    .panel-zone {
        flex-direction: column;
        justify-content: center;
    }
}