@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* BODY */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #5253a4;
}

body a {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    body {

    }

}