.table-zone__table-transaction-described {
    display: none;
}

@media only screen and (max-width: 1180px) and (orientation:portrait) {

    .table-zone__table-transaction-described tr th:nth-child(2),
    .table-zone__table-transaction-described tr th:nth-child(3),
    .table-zone__table-transaction-described tr th:nth-child(5),
    .table-zone__table-transaction-described tr th:nth-child(6) {
        display:  none;
    }

    .table-zone__table-transaction-described tr td:nth-child(2),
    .table-zone__table-transaction-described tr td:nth-child(3),
    .table-zone__table-transaction-described tr td:nth-child(5),
    .table-zone__table-transaction-described tr td:nth-child(6) {
        display:  none;
    }
}
